/* CHATBOX
=============== */
.chatbox {
    position: fixed;
    bottom: 0px;
    right: 120px;
}

/* CONTENT IS CLOSE */
.chatbox__support {
    display: flex;
    flex-direction: column;
    background: #eee;
    width: 300px;
    height: 400px;
    position: relative;
    top:30px;
    left:50px;
    z-index: -123456;
    opacity: 0;
    transition: all .5s ease-in-out;
}

/* CONTENT ISOPEN */
.chatbox--active {
    transform: translateY(-40px);
    z-index: 123456;
    opacity: 1;
    
}

/* BUTTON */
.chatbox__button {
    text-align: right;
    
}


/* HEADER */
.chatbox__header {
    position: sticky;
    
    top: 0;
    
}

/* MESSAGES */
.chatbox__messages {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.messages__item {
    border-radius: 10px;
    background: #4C5AA1;
   
    width: fit-content;
}

.messages__item--operator {
    margin-left: auto;
    font-size: 12px;
}

.messages__item--visitor {
    margin-right: auto;
    font-size: 12px;

}

/* FOOTER */
.chatbox__footer {
    background-color: #fff;
    position: sticky;
    bottom: 0;
}


